@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0B192C;
  --color-secondary: #F8FAFC;
  --color-accent: #059669;
  --color-champagne: #F3E5AB;

  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Manrope', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-secondary text-primary font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


